.footer {
   background: #212529 !important;
   color: white;
      a {
         color: white !important;
         transition: color 0.2s;
         &:hover {
            color: #4180cb;
         }
      }

    .location {
      padding-left: 80px;
      h4 {
        font-size: 2rem;
      }
      p {
        font-size: 1rem;
      }
    }

}

@media screen and (max-width: 769px) {
  .location {
    margin-top: 10px;
    padding-left: 0;
    padding-right: 0;
  }
  
}
