
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

#root {
  --primary-white: #fff
}

.App {
  text-align: center;
}

body {
  font-family: "Roboto Condensed";
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {
  justify-content: right;
}
.navbar-nav > a {
  
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 0.0375rem;
}